.echo-connect-loading {
  @apply text-yellow-500 text-sm;
}

.echo-connect-connected {
  @apply text-green-500 text-sm;
}

.echo-connect-failed {
  @apply text-red-500 text-sm;
}

.bg-picture {
  background: #000;
  background-image: url('/mix-images/bg-login.webp');
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}