name: Build App Container Image for Production

on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:

jobs:
    build-app:
        runs-on: ubuntu-latest
        env:
            REGISTRY: ghcr.io
            IMAGE_NAME: ${{ github.repository }}
            ENV_KEY: ${{ secrets.ENV_KEY }}
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3
              if: env.REGISTRY != '' && env.IMAGE_NAME != ''
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v3
              if: env.REGISTRY != '' && env.IMAGE_NAME != ''

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              if: env.REGISTRY != '' && env.IMAGE_NAME != ''
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Get & Set Container Metadata
              id: meta-packages
              uses: docker/metadata-action@v5
              if: env.REGISTRY != '' && env.IMAGE_NAME != ''
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            - name: Build & Push Container
              uses: docker/build-push-action@v6
              if: env.REGISTRY != '' && env.IMAGE_NAME != ''
              with:
                  context: .
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta-packages.outputs.tags }}
                  labels: ${{ steps.meta-packages.outputs.labels }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
                  args: |
                      ENV_KEY=${{ env.ENV_KEY }}
                      APP_VERSION_HASH=${{ github.sha }}
                      ENV_TYPE=prod
